@font-face {
    font-display: swap;
    font-style: normal;
    src: url('/public/fonts/HandjetBold.ttf');
    font-family: 'Handjet';
    font-weight: 700;
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url('/public/fonts/BarlowBlack.ttf');
    font-family: 'Barlow';
    font-weight: 900;
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url('/public/fonts/FiraCodeRegular.ttf');
    font-family: 'Fira Code';
    font-weight: 400;
  }