@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --black_900: #000000;
        --blue_gray_900: #313131;
        --orange_a700: #ff5e0e;
        --white_a700: #ffffff;
        --yellow_900: #eb6e2b;

        --radius-xs:8px;
        --radius-ms:60px;
        --radius-md: 70px;
    }
}